.header {
  background: var(--fire-800);
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 1px solid var(--black01);
  

  img {
    padding: 0;
    margin:0;
    width: 8rem;
    font-size: 0;
  }

  p {
    margin-left: 1.5rem;
    padding: 0.25rem 0 0.25rem 1.5rem;
    border-left:  1px solid var(--white);
    color: var(--white);
  }

  span {
    margin-left: auto;
    text-align: capitalize;
    color: var(--white);
    overflow: hidden;
  }
}