.content {
  margin: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 5px;
  
  .latestSpending {
    display: inline-block;
    overflow-y: scroll;
    height: 15.625rem;
    p {
      padding-left: 10px;
      padding-bottom: 20px;
    }
    div{
       background: var(--fire-100);
    }
  }
        
  .spending {
    display: flex;
    justify-content: center;height: 100%;
    di
     p {
      padding-left: 20px;
      padding-bottom: 20px;
     }
     div {
      padding: 0;
      margin: 0;
     }        
  }

  .lastMonths {
    height: 100%;
    display: flex;
    justify-content: center;
     p {
      padding-left: 20px;
      padding-bottom: 20px;
     }
     div {
      padding: 0;
      margin: 0;
     }  
  }

  h2 {
    margin: 5px 0;
    grid-column: 1 / -1; 
    grid-row: 4;      
  }
        
  .lastFreight {
    display: flex;
    overflow-y: scroll;
    height: 37vh;
    grid-column: 1 / -1; 
    grid-row: 5;
    div{
      background: var(--fire-100);
      margin: auto
    }
  }
}

