.menuContainer {
  background: linear-gradient(90deg,var(--fire-800) 0.9%, var(--fire-400) 100%);
  display: flex;
  align-items: center;
  //border-bottom: 1px solid var(--black01);
  
  nav {
    margin: auto;
    display: flex;
    
  a {
      display:flexbox;
      text-decoration: none;
      color: var(--white);
      padding: 0.9375rem;
    }

  a:hover {
      background: linear-gradient(90deg, var(--fire-800) 0%, var(--fire-400) 100%);
      //border-bottom: 1px solid var(--black01);
    }
    
  }
}