.table {
  width: 100%;
  
  th, td {
    padding: 0.75rem 1rem;    
  }

  th {
    color: var(--black00);
    font: 400 1rem Roboto, sans-serif;
    text-align: left;
    border-bottom: 1px solid var(--gray-100);
    background: var(--fire-400);
  }

  td {
    font-size: 14px;
    font: 200 1rem Roboto, sans-serif;
  
  }
  
  tr:hover {background: var(--fire-200);
  }



  .salvar {
    background: var(--green);
    color: var(--grey-400);
  }
  
  .cancelar {
    background: var(--red);
    color: var(--grey-400);
    margin-left: 5px;
  }
  
}
